@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Your custom CSS styles */


body {
    color: red;
    background: url('../testimg.png');
}
p{
    color: blue;
}